<app-sidebar-user-news></app-sidebar-user-news>

<body>
    <div id="news-view" class="container">
        <div class="row justify-content-around">
            <div id="active" class="w-100">
                <h4><b>USER NEWS</b></h4>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h6>Published by: {{userNews[0].author.username}}</h6>
                <h4>{{userNews[0].headline}}</h4>
                <!-- <img [src]="getRandomCatPicture()" alt="Article One Image" height="100px" width="200px"> -->
                <p>{{userNews[0].body}}</p>
            </div>
                <div class="col-sm-3 mx-auto newsbox">
                <h6>Published by: {{userNews[1].author.username}}</h6>
                <h4>{{userNews[1].headline}}</h4>
                <!-- <img [src]="getRandomCatPicture()" alt="Article Two Image" height="100px" width="200px"> -->
                <p>{{userNews[1].body}}</p>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h6>Published by: {{userNews[2].author.username}}</h6>
                <h4>{{userNews[2].headline}}</h4>
                <!-- <img [src]="getRandomCatPicture()" alt="Article Three Image" height="100px" width="200px"> -->
                <p>{{userNews[2].body}}</p>
            </div>

            <div class="col-sm-3 mx-auto newsbox">
                <h6>Published by: {{userNews[3].author.username}}</h6>
                <h4>{{userNews[3].headline}}</h4>
                <!-- <img [src]="getRandomCatPicture()" alt="Article Four Image" height="100px" width="200px"> -->
                <p>{{userNews[3].body}}</p>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h6>Published by: {{userNews[4].author.username}}</h6>
                <h4>{{userNews[4].headline}}</h4>
                <!-- <img [src]="getRandomCatPicture()" alt="Article Five Image" height="100px" width="200px"> -->
                <p>{{userNews[4].body}}</p>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h6>Published by: {{userNews[5].author.username}}</h6>
                <h4>{{userNews[5].headline}}</h4>
                <!-- <img [src]="getRandomCatPicture()" alt="Article Six Image" height="100px" width="200px"> -->
                <p>{{userNews[5].body}}</p>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h6>Published by: {{userNews[6].author.username}}</h6>
                <h4>{{userNews[6].headline}}</h4>
                <!-- <img [src]="getRandomCatPicture()" alt="Article Seven Image" height="100px" width="200px"> -->
                <p>{{userNews[6].body}}</p>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h6>Published by: {{userNews[7].author.username}}</h6>
                <h4>{{userNews[7].headline}}</h4>
                <!-- <img [src]="getRandomCatPicture()" alt="Article Eight Image" height="100px" width="200px"> -->
                <p>{{userNews[7].body}}</p>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h6>Published by: {{userNews[8].author.username}}</h6>
                <h4>{{userNews[8].headline}}</h4>
                <!-- <img [src]="getRandomCatPicture()" alt="Article Nine Image" height="100px" width="200px"> -->
                <p>{{userNews[8].body}}</p>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h6>Published by: {{userNews[9].author.username}}</h6>
                <h4>{{userNews[9].headline}}</h4>
                <!-- <img [src]="getRandomCatPicture()" alt="Article Ten Image" height="100px" width="200px"> -->
                <p>{{userNews[9].body}}</p>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h6>Published by: {{userNews[10].author.username}}</h6>
                <h4>{{userNews[10].headline}}</h4>
                <!-- <img [src]="getRandomCatPicture()" alt="Article Eleven Image" height="100px" width="200px"> -->
                <p>{{userNews[10].body}}</p>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h6>Published by: {{userNews[11].author.username}}</h6>
                <h4>{{userNews[11].headline}}</h4>
                <!-- <img [src]="getRandomCatPicture()" alt="Article Twelve Image" height="100px" width="200px"> -->
                <p>{{userNews[11].body}}</p>
            </div>
        </div>
    </div>

</body>
