<app-sidebar-user-news></app-sidebar-user-news>

<body>
    <div id="news-view" class="container">
        <div class="row justify-content-around">
            <div id="active" class="w-100">
                <h4><b>USER NEWS</b></h4>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h5>Title</h5>
                <h4>Published By</h4>
                <h6>Published At: A TIME</h6>
                <img *ngIf="false" src="{{topNews.articles[0].urlToImage}}" alt="Article One Image" height="25%" width="50%">
                <img *ngIf="true" src="../assets/defaultimage.png" alt="Article One Image" height="25%" width="50%">
                <p *ngIf="true">CONTENT</p>
                <p *ngIf="false">{{topNews.articles[0].description}}</p>
                <h6 class="source-link"><a href="#" target="_blank">Original Article</a></h6>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h5>Title</h5>
                <h4>Published By</h4>
                <h6>Published At: A TIME</h6>
                <img *ngIf="false" src="{{topNews.articles[0].urlToImage}}" alt="Article One Image" height="25%" width="50%">
                <img *ngIf="true" src="../assets/defaultimage.png" alt="Article One Image" height="25%" width="50%">
                <p *ngIf="true">CONTENT</p>
                <p *ngIf="false">{{topNews.articles[0].description}}</p>
                <h6 class="source-link"><a href="#" target="_blank">Original Article</a></h6>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h5>Title</h5>
                <h4>Published By</h4>
                <h6>Published At: A TIME</h6>
                <img *ngIf="false" src="{{topNews.articles[0].urlToImage}}" alt="Article One Image" height="25%" width="50%">
                <img *ngIf="true" src="../assets/defaultimage.png" alt="Article One Image" height="25%" width="50%">
                <p *ngIf="true">CONTENT</p>
                <p *ngIf="false">{{topNews.articles[0].description}}</p>
                <h6 class="source-link"><a href="#" target="_blank">Original Article</a></h6>
            </div>

            <div class="col-sm-3 mx-auto newsbox">
                <h5>Title</h5>
                <h4>Published By</h4>
                <h6>Published At: A TIME</h6>
                <img *ngIf="false" src="{{topNews.articles[0].urlToImage}}" alt="Article One Image" height="25%" width="50%">
                <img *ngIf="true" src="../assets/defaultimage.png" alt="Article One Image" height="25%" width="50%">
                <p *ngIf="true">CONTENT</p>
                <p *ngIf="false">{{topNews.articles[0].description}}</p>
                <h6 class="source-link"><a href="#" target="_blank">Original Article</a></h6>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h5>Title</h5>
                <h4>Published By</h4>
                <h6>Published At: A TIME</h6>
                <img *ngIf="false" src="{{topNews.articles[0].urlToImage}}" alt="Article One Image" height="25%" width="50%">
                <img *ngIf="true" src="../assets/defaultimage.png" alt="Article One Image" height="25%" width="50%">
                <p *ngIf="true">CONTENT</p>
                <p *ngIf="false">{{topNews.articles[0].description}}</p>
                <h6 class="source-link"><a href="#" target="_blank">Original Article</a></h6>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h5>Title</h5>
                <h4>Published By</h4>
                <h6>Published At: A TIME</h6>
                <img *ngIf="false" src="{{topNews.articles[0].urlToImage}}" alt="Article One Image" height="25%" width="50%">
                <img *ngIf="true" src="../assets/defaultimage.png" alt="Article One Image" height="25%" width="50%">
                <p *ngIf="true">CONTENT</p>
                <p *ngIf="false">{{topNews.articles[0].description}}</p>
                <h6 class="source-link"><a href="#" target="_blank">Original Article</a></h6>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h5>Title</h5>
                <h4>Published By</h4>
                <h6>Published At: A TIME</h6>
                <img *ngIf="false" src="{{topNews.articles[0].urlToImage}}" alt="Article One Image" height="25%" width="50%">
                <img *ngIf="true" src="../assets/defaultimage.png" alt="Article One Image" height="25%" width="50%">
                <p *ngIf="true">CONTENT</p>
                <p *ngIf="false">{{topNews.articles[0].description}}</p>
                <h6 class="source-link"><a href="#" target="_blank">Original Article</a></h6>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h5>Title</h5>
                <h4>Published By</h4>
                <h6>Published At: A TIME</h6>
                <img *ngIf="false" src="{{topNews.articles[0].urlToImage}}" alt="Article One Image" height="25%" width="50%">
                <img *ngIf="true" src="../assets/defaultimage.png" alt="Article One Image" height="25%" width="50%">
                <p *ngIf="true">CONTENT</p>
                <p *ngIf="false">{{topNews.articles[0].description}}</p>
                <h6 class="source-link"><a href="#" target="_blank">Original Article</a></h6>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h5>Title</h5>
                <h4>Published By</h4>
                <h6>Published At: A TIME</h6>
                <img *ngIf="false" src="{{topNews.articles[0].urlToImage}}" alt="Article One Image" height="25%" width="50%">
                <img *ngIf="true" src="../assets/defaultimage.png" alt="Article One Image" height="25%" width="50%">
                <p *ngIf="true">CONTENT</p>
                <p *ngIf="false">{{topNews.articles[0].description}}</p>
                <h6 class="source-link"><a href="#" target="_blank">Original Article</a></h6>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h5>Title</h5>
                <h4>Published By</h4>
                <h6>Published At: A TIME</h6>
                <img *ngIf="false" src="{{topNews.articles[0].urlToImage}}" alt="Article One Image" height="25%" width="50%">
                <img *ngIf="true" src="../assets/defaultimage.png" alt="Article One Image" height="25%" width="50%">
                <p *ngIf="true">CONTENT</p>
                <p *ngIf="false">{{topNews.articles[0].description}}</p>
                <h6 class="source-link"><a href="#" target="_blank">Original Article</a></h6>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h5>Title</h5>
                <h4>Published By</h4>
                <h6>Published At: A TIME</h6>
                <img *ngIf="false" src="{{topNews.articles[0].urlToImage}}" alt="Article One Image" height="25%" width="50%">
                <img *ngIf="true" src="../assets/defaultimage.png" alt="Article One Image" height="25%" width="50%">
                <p *ngIf="true">CONTENT</p>
                <p *ngIf="false">{{topNews.articles[0].description}}</p>
                <h6 class="source-link"><a href="#" target="_blank">Original Article</a></h6>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h5>Title</h5>
                <h4>Published By</h4>
                <h6>Published At: A TIME</h6>
                <img *ngIf="false" src="{{topNews.articles[0].urlToImage}}" alt="Article One Image" height="25%" width="50%">
                <img *ngIf="true" src="../assets/defaultimage.png" alt="Article One Image" height="25%" width="50%">
                <p *ngIf="true">CONTENT</p>
                <p *ngIf="false">{{topNews.articles[0].description}}</p>
                <h6 class="source-link"><a href="#" target="_blank">Original Article</a></h6>
            </div>
        </div>
    </div>

</body>