<app-sidebar-user-news></app-sidebar-user-news>

<body>
    <div id="news-view" class="container">
        <div class="row justify-content-around">
            <div id="active" class="w-100">
                <h4><b>USER NEWS</b></h4>
            </div>
            <!-- <div class="col-sm-3 mx-auto newsbox">
                <h5>{{userNews[0].headline}}</h5>
                <h4>Published by: {{userNews[0].author.username}}</h4>
                <img [src]="getRandomCatPicture()" alt="Article One Image" height="100px" width="200px">
                <p>{{userNews[0].body}}</p>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h5>{{userNews[1].headline}}</h5>
                <h4>Published by: {{userNews[1].author.username}}</h4>
                <img [src]="getRandomCatPicture()" alt="Article Two Image" height="100px" width="200px">
                <p>{{userNews[1].body}}</p>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h5>{{userNews[2].headline}}</h5>
                <h4>Published by: {{userNews[2].author.username}}</h4>
                <img [src]="getRandomCatPicture()" alt="Article Two Image" height="100px" width="200px">
                <p>{{userNews[2].body}}</p>
            </div>
            <div class="col-sm-3 mx-auto newsbox">
                <h5>{{userNews[3].headline}}</h5>
                <h4>Published by: {{userNews[3].author.username}}</h4>
                <img [src]="getRandomCatPicture()" alt="Article Three Image" height="100px" width="200px">
                <p>{{userNews[3].body}}</p>
            </div> -->
        </div>
    </div>

</body>