<!-- <div id="login-panel">
    <h5>Sign into your account:</h5>
    <form action="#" method="post" name="login">
        <table>
            <tr>
                <td>
                    <h6>Email:</h6>
                </td>
                <td>
                    <input type="text" name="email">
                </td>
            </tr>
            <tr>
                <td>
                    <h6 style="min-width:85px">Password:</h6>
                </td>
                <td>
                    <input type="password" name="password"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Log in"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a routerLink="profilepage"><p><i>or register a new account</i></p></a>
                </td>
            </tr>
        </table>
    </form>
</div> -->