a:visited {
  color: white;

}
h4 {
font-family: "Book Antiqua", Palatino, serif;
display: block;
}
#logo:hover, h4:hover{
/* color: #cccccc !important; */
text-decoration: none !important;
}
a, .sidebar-header{
display: block;
}
.nav-link:hover, button:hover{
border-radius: 4px;
background-color: #444d53;
outline: none;
}