<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="sidebar-header">
        <h4 style="text-align: center" class="text-white">BASGit News Portal</h4>
    </div>
    <a class="nav-link d-inline text-white" routerLink="/topnews/topnews">Top News</a>
    <a class="nav-link d-inline text-white" routerLink="/userstories/alluserstories">User News</a>
    <a class="nav-link d-inline text-white" routerLink="/manager/manageralluserstories">Manager Page</a>
    <a class="nav-link d-inline text-white" routerLink="/profile/profilepage">Profile Page</a>
    <app-account-dropdown class="d-inline"></app-account-dropdown>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <button class="btn btn-dark" routerLink="/topnews/topnews" type="submit">Sign Out</button>
    </form>
</nav>
