<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="sidebar-header">
        <h4 style="text-align: center" class="text-white">BASGit News Portal</h4>
    </div>
    <a class="nav-link d-inline text-white" routerLink="topnews">Top News</a>
    <a class="nav-link d-inline text-white" routerLink="userstories">User News</a>
    <a class="nav-link d-inline text-white" routerLink="manageralluserstories">Manager Page</a>
    <a class="nav-link d-inline text-white" routerLink="profilepage">Profile Page</a>
    <app-account-dropdown class="d-inline"></app-account-dropdown>
</nav>
