<app-sidebar></app-sidebar>
<!-- <div id="active"></div> -->
<div id="news-view" class="container">
    <div class="row justify-content-around">
        <div id="active" class="w-100">
            <h4><b>TOP NEWS</b></h4>
        </div>
        <div class="col-sm-3 mx-auto newsbox">
            <h3>{{topNews.articles[0].source.name}}</h3>
            <h5>{{topNews.articles[0].title}}</h5>
            <h6>Published At: {{topNews.articles[0].publishedAt}}</h6>
            <img *ngIf="imageStatus(topNews.articles[0].urlToImage)" src="{{topNews.articles[0].urlToImage}}" alt="Article One Image" height="25%" width="50%">
            <img *ngIf="!imageStatus(topNews.articles[0].urlToImage)" src="../assets/defaultimage.png" alt="Article One Image" height="25%" width="50%">
            <p *ngIf="synopsisStatus(topNews.articles[0].content)">{{topNews.articles[0].content}}</p>
            <p *ngIf="!synopsisStatus(topNews.articles[0].content)">{{topNews.articles[0].description}}</p>
            <h6 class="source-link"><a href="{{topNews.articles[0].url}}" target="_blank">Original Article</a></h6>
        </div>
        <div class="col-sm-3 mx-auto newsbox">
            <h3>{{topNews.articles[1].source.name}}</h3>
            <h5>{{topNews.articles[1].title}}</h5>
            <h6>Published At: {{topNews.articles[1].publishedAt}}</h6>
            <img *ngIf="imageStatus(topNews.articles[1].urlToImage)" src="{{topNews.articles[1].urlToImage}}" alt="Article Two Image" height="25%" width="50%">
            <img *ngIf="!imageStatus(topNews.articles[1].urlToImage)" src="../assets/defaultimage.png" alt="Article Two Image" height="25%" width="50%">
            <p *ngIf="synopsisStatus(topNews.articles[1].content)">{{topNews.articles[1].content}}</p>
            <p *ngIf="!synopsisStatus(topNews.articles[1].content)">{{topNews.articles[1].description}}</p>
            <h6 class="source-link"><a href="{{topNews.articles[1].url}}" target="_blank">Original Article</a></h6>
        </div>
        <div class="col-sm-3 mx-auto newsbox">
            <h3>{{topNews.articles[2].source.name}}</h3>
            <h5>{{topNews.articles[2].title}}</h5>
            <h6>Published At: {{topNews.articles[2].publishedAt}}</h6>
            <img *ngIf="imageStatus(topNews.articles[2].urlToImage)" src="{{topNews.articles[2].urlToImage}}" alt="Article Three Image" height="25%" width="50%">
            <img *ngIf="!imageStatus(topNews.articles[2].urlToImage)" src="../assets/defaultimage.png" alt="Article Three Image" height="25%" width="50%">
            <p *ngIf="synopsisStatus(topNews.articles[2].content)">{{topNews.articles[2].content}}</p>
            <p *ngIf="!synopsisStatus(topNews.articles[2].content)">{{topNews.articles[2].description}}</p>
            <h6 class="source-link"><a href="{{topNews.articles[2].url}}" target="_blank">Original Article</a></h6>
        </div>

        <div class="col-sm-3 mx-auto newsbox">
            <h3>{{topNews.articles[3].source.name}}</h3>
            <h5>{{topNews.articles[3].title}}</h5>
            <h6>Published At: {{topNews.articles[3].publishedAt}}</h6>
            <img *ngIf="imageStatus(topNews.articles[3].urlToImage)" src="{{topNews.articles[3].urlToImage}}" alt="Article Four Image" height="25%" width="50%">
            <img *ngIf="!imageStatus(topNews.articles[3].urlToImage)" src="../assets/defaultimage.png" alt="Article Four Image" height="25%" width="50%">
            <p *ngIf="synopsisStatus(topNews.articles[3].content)">{{topNews.articles[3].content}}</p>
            <p *ngIf="!synopsisStatus(topNews.articles[3].content)">{{topNews.articles[3].description}}</p>
            <h6 class="source-link"><a href="{{topNews.articles[3].url}}" target="_blank">Original Article</a></h6>
        </div>
        <div class="col-sm-3 mx-auto newsbox">
            <h3>{{topNews.articles[4].source.name}}</h3>
            <h5>{{topNews.articles[4].title}}</h5>
            <h6>Published At: {{topNews.articles[4].publishedAt}}</h6>
            <img *ngIf="imageStatus(topNews.articles[4].urlToImage)" src="{{topNews.articles[4].urlToImage}}" alt="Article Five Image" height="25%" width="50%">
            <img *ngIf="!imageStatus(topNews.articles[4].urlToImage)" src="../assets/defaultimage.png" alt="Article Five Image" height="25%" width="50%">
            <p *ngIf="synopsisStatus(topNews.articles[4].content)">{{topNews.articles[4].content}}</p>
            <p *ngIf="!synopsisStatus(topNews.articles[4].content)">{{topNews.articles[4].description}}</p>
            <h6 class="source-link"><a href="{{topNews.articles[4].url}}" target="_blank">Original Article</a></h6>
        </div>
        <div class="col-sm-3 mx-auto newsbox">
            <h3>{{topNews.articles[5].source.name}}</h3>
            <h5>{{topNews.articles[5].title}}</h5>
            <h6>Published At: {{topNews.articles[1].publishedAt}}</h6>
            <img *ngIf="imageStatus(topNews.articles[5].urlToImage)" src="{{topNews.articles[5].urlToImage}}" alt="Article Six Image" height="25%" width="50%">
            <img *ngIf="!imageStatus(topNews.articles[5].urlToImage)" src="../assets/defaultimage.png" alt="Article Six Image" height="25%" width="50%">
            <p *ngIf="synopsisStatus(topNews.articles[5].content)">{{topNews.articles[5].content}}</p>
            <p *ngIf="!synopsisStatus(topNews.articles[5].content)">{{topNews.articles[5].description}}</p>
            <h6 class="source-link"><a href="{{topNews.articles[5].url}}" target="_blank">Original Article</a></h6>
        </div>
        <div class="col-sm-3 mx-auto newsbox">
            <h3>{{topNews.articles[6].source.name}}</h3>
            <h5>{{topNews.articles[6].title}}</h5>
            <h6>Published At: {{topNews.articles[6].publishedAt}}</h6>
            <img *ngIf="imageStatus(topNews.articles[6].urlToImage)" src="{{topNews.articles[6].urlToImage}}" alt="Article Seven Image" height="25%" width="50%">
            <img *ngIf="!imageStatus(topNews.articles[6].urlToImage)" src="../assets/defaultimage.png" alt="Article Seven Image" height="25%" width="50%">
            <p *ngIf="synopsisStatus(topNews.articles[6].content)">{{topNews.articles[6].content}}</p>
            <p *ngIf="!synopsisStatus(topNews.articles[6].content)">{{topNews.articles[6].description}}</p>
            <h6 class="source-link"><a href="{{topNews.articles[6].url}}" target="_blank">Original Article</a></h6>
        </div>
        <div class="col-sm-3 mx-auto newsbox">
            <h3>{{topNews.articles[7].source.name}}</h3>
            <h5>{{topNews.articles[7].title}}</h5>
            <h6>Published At: {{topNews.articles[7].publishedAt}}</h6>
            <img *ngIf="imageStatus(topNews.articles[7].urlToImage)" src="{{topNews.articles[7].urlToImage}}" alt="Article Eight Image" height="25%" width="50%">
            <img *ngIf="!imageStatus(topNews.articles[7].urlToImage)" src="../assets/defaultimage.png" alt="Article Eight Image" height="25%" width="50%">
            <p *ngIf="synopsisStatus(topNews.articles[7].content)">{{topNews.articles[7].content}}</p>
            <p *ngIf="!synopsisStatus(topNews.articles[7].content)">{{topNews.articles[7].description}}</p>
            <h6 class="source-link"><a href="{{topNews.articles[7].url}}" target="_blank">Original Article</a></h6>
        </div>
        <div class="col-sm-3 mx-auto newsbox">
            <h3>{{topNews.articles[8].source.name}}</h3>
            <h5>{{topNews.articles[8].title}}</h5>
            <h6>Published At: {{topNews.articles[8].publishedAt}}</h6>
            <img *ngIf="imageStatus(topNews.articles[8].urlToImage)" src="{{topNews.articles[8].urlToImage}}" alt="Article Nine Image" height="25%" width="50%">
            <img *ngIf="!imageStatus(topNews.articles[8].urlToImage)" src="../assets/defaultimage.png" alt="Article Nine Image" height="25%" width="50%">
            <p *ngIf="synopsisStatus(topNews.articles[8].content)">{{topNews.articles[8].content}}</p>
            <p *ngIf="!synopsisStatus(topNews.articles[8].content)">{{topNews.articles[8].description}}</p>
            <h6 class="source-link"><a href="{{topNews.articles[8].url}}" target="_blank">Original Article</a></h6>
        </div>
        <div class="col-sm-3 mx-auto newsbox">
            <h3>{{topNews.articles[9].source.name}}</h3>
            <h5>{{topNews.articles[9].title}}</h5>
            <h6>Published At: {{topNews.articles[9].publishedAt}}</h6>
            <img *ngIf="imageStatus(topNews.articles[9].urlToImage)" src="{{topNews.articles[9].urlToImage}}" alt="Article Ten Image" height="25%" width="50%">
            <img *ngIf="!imageStatus(topNews.articles[9].urlToImage)" src="../assets/defaultimage.png" alt="Article Ten Image" height="25%" width="50%">
            <p *ngIf="synopsisStatus(topNews.articles[9].content)">{{topNews.articles[9].content}}</p>
            <p *ngIf="!synopsisStatus(topNews.articles[9].content)">{{topNews.articles[9].description}}</p>
            <h6 class="source-link"><a href="{{topNews.articles[9].url}}" target="_blank">Original Article</a></h6>
        </div>
        <div class="col-sm-3 mx-auto newsbox">
            <h3>{{topNews.articles[10].source.name}}</h3>
            <h5>{{topNews.articles[10].title}}</h5>
            <h6>Published At: {{topNews.articles[10].publishedAt}}</h6>
            <img *ngIf="imageStatus(topNews.articles[10].urlToImage)" src="{{topNews.articles[10].urlToImage}}" alt="Article Eleven Image" height="25%" width="50%">
            <img *ngIf="!imageStatus(topNews.articles[10].urlToImage)" src="../assets/defaultimage.png" alt="Article Eleven Image" height="25%" width="50%">
            <p *ngIf="synopsisStatus(topNews.articles[10].content)">{{topNews.articles[10].content}}</p>
            <p *ngIf="!synopsisStatus(topNews.articles[10].content)">{{topNews.articles[10].description}}</p>
            <h6 class="source-link"><a href="{{topNews.articles[10].url}}" target="_blank">Original Article</a></h6>
        </div>
        <div class="col-sm-3 mx-auto newsbox">
            <h3>{{topNews.articles[11].source.name}}</h3>
            <h5>{{topNews.articles[11].title}}</h5>
            <h6>Published At: {{topNews.articles[11].publishedAt}}</h6>
            <img *ngIf="imageStatus(topNews.articles[11].urlToImage)" src="{{topNews.articles[11].urlToImage}}" alt="Article Twelve Image" height="25%" width="50%">
            <img *ngIf="!imageStatus(topNews.articles[11].urlToImage)" src="../assets/defaultimage.png" alt="Article Twelve Image" height="25%" width="50%">
            <p *ngIf="synopsisStatus(topNews.articles[11].content)">{{topNews.articles[11].content}}</p>
            <p *ngIf="!synopsisStatus(topNews.articles[11].content)">{{topNews.articles[11].description}}</p>
            <h6 class="source-link"><a href="{{topNews.articles[11].url}}" target="_blank">Original Article</a></h6>
        </div>
    </div>
</div>