<app-sidebar-manager></app-sidebar-manager>


<body>
    <div id="news-view" class="container">
        <div class="row justify-content-around">
            <div id="active" class="w-100">
                <h4><b>MANAGER - STORIES SORTED BY USER</b></h4>
            </div>
            <div class="col">
                <div>
                    <h1></h1>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-sm tablebox">
                        <thead class="tableboxchild">
                            <tr>
                                <th class="usernameColumn">Username</th>
                                <th>Title</th>
                                <th>Body</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let story of stories">
                                <td>{{story.author.username}}</td>
                                <td>{{story.headline}}</td>
                                <td>{{story.body}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>