<p>sign-up-page works!</p>
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-6 col-12">
            <form action="http://ec2-52-90-209-187.compute-1.amazonaws.com:5555/BASGit/users/signup" method="POST" id="newuserform">
                <div class="form-group">
                    <h2>Sign Up
                        <br>
                    </h2>
                </div>
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input type="text" class="form-control" id=newEmail name="username" placeholder="CoolUsername" required>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id=newPassword name="password" placeholder=Password required>
                    <!-- <small id="passwordHelp" class="form-text text-muted">Must contain at least one number and one
                        uppercase and lowercase letter, and at least 8 or more characters</small> -->
                </div>
                <div class="form-group">
                    <label for="Full Name">Full Name</label>
                    <input type="text" class="form-control" id=newName name="fullname" placeholder="John Smith" required>
                </div>
                <div class="form-group">
                    <label for="Manager Code">Manager Code</label>
                    <input type="text" class="form-control" id="managerCode" name="managerCode"
                        placeholder="Secret Manager Code Goes Here">
                </div>
                <!-- <small id="passwordHelp" class="form-text text-muted">Illegal Characters: \$</small> -->
                <button type="submit" class="btn btn-dark" form="newuserform" name="submit" value="submit_new_user">Submit</button>
            </form>
        </div>
    </div>
</div>