
<body>
<p>sign-up-page works!</p>
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 col-12">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                    <!-- http://ec2-52-90-209-187.compute-1.amazonaws.com:5555/BASGit/users/signup -->
                <div class="form-group">
                    <h2>Sign Up
                        <br>
                    </h2>
                </div>
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input type="text" class="form-control" id="password" name="username" ngModel placeholder="CoolUsername" required>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" ngModel placeholder="Password"  required>
                    <!-- <small id="passwordHelp" class="form-text text-muted">Must contain at least one number and one
                        uppercase and lowercase letter, and at least 8 or more characters</small> -->
                </div>
                <div class="form-group">
                    <label for="Full Name">Full Name</label>
                    <input type="text" class="form-control" id="newName" name="fullname" ngModel placeholder="John Smith" required>
                </div>
                <div class="form-group">
                    <label for="Manager Code">Manager Code</label>
                    <input type="text" class="form-control" id="managerCode" name="managerCode" ngModel placeholder="Secret Manager Code Goes Here">
                </div>
                <!-- <div class="form-group">
                        <input class="btn btn-dark" type="submit" value="signup">
                </div> -->
                <!-- <small id="passwordHelp" class="form-text text-muted">Illegal Characters: \$</small> -->
                <button type="submit" class="signup">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
