<!-- <div id="sidebar" class="col-md-4">
    <ul class="list-unstyled components">
        <li>National</li>
        <li>International</li>
        <li>Top Stories</li>
        <li><a href="#">Recent</a></li>
    </ul>
</div> -->

<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h4 style="text-align: center">BASGit News Portal</h4>
        </div>
        <ul class="list-unstyled components">
            <!-- <p>Dummy Heading</p> -->
            <li>
                <a href="#">Latest Stories</a>
            </li>
            <li>
                <a href="#">Breaking News</a>
            </li>
            <li>
                <a href="#">BASGit Recommends</a>
            </li>
            <!-- <li class="active">
                <a href="#">National</a>
            </li>
            <li>
                <a href="#">International</a>
            </li> -->

            <!-- <li><a>Category:</a></li>
            <ul class="list-unstyled">
                <li>
                    <a href="#">Business</a>
                </li>
                <li>
                    <a href="#">Entertaiment</a>
                </li>
                <li>
                    <a href="#">Politics</a>
                </li>
                <li>
                    <a href="#">Sports</a>
                </li>
                <li>
                    <a href="#">Technology</a>
                </li>
            </ul> -->

            <li>
                <a href="#categorySubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Category</a>
                <ul class="collapse list-unstyled" id="categorySubmenu">
                    <li>
                        <a href="#">Business</a>
                    </li>
                    <li>
                        <a href="#">Entertainment</a>
                    </li>
                    <li>
                        <a href="#">Politics</a>
                    </li>
                    <li>
                        <a href="#">Sports</a>
                    </li>
                    <li>
                        <a href="#">Technology</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#sourceSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Source</a>
                <ul class="collapse list-unstyled" id="sourceSubmenu">
                    <li>
                        <a href="#">Fox News</a>
                    </li>
                    <li>
                        <a href="#">CNN</a>
                    </li>
                    <li>
                        <a href="#">NBC</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
