<app-sidebar-manager></app-sidebar-manager>


<body>
    <div id="news-view" class="container">
        <div class="row justify-content-around">
            <div id="active" class="w-100">
                <h4><b>MANAGER - ALL USERS</b></h4>
            </div>
            <div class="col">
                <div>
                    <h1></h1>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-sm tablebox">
                        <thead class="tableboxchild">
                            <tr>
                                <th>Profile Picture</th>
                                <th>Username</th>
                                <th>Full Name</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                            <!-- article is each object, and articles is an array -->
                                <td>SMALL PROFILE PIC</td>
                                <td>{{user.username}}</td>
                                <!-- <td>{{article.username (or article.id put into all users)}}</td> -->
                                <td>{{user.fullname}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!-- <br>
<br>
<p>manager-user-all-stories works!</p>
<p>text here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p> -->
</body>





<!-- <div class="manager-tools">
        <form action="">
            <button class="btn btn-primary mx-auto">Highlight</button>
            <button class="btn btn-danger mx-auto">Edit</button>
            <button class="btn btn-dark mx-auto">Remove</button>
        </form>
    </div> -->
