<app-sidebar-manager></app-sidebar-manager>


<body>
    <div id="news-view" class="container">
        <div class="row justify-content-around">
            <div class="col">
                <div class="mt-3 p-3 newsbox">
                    <h5>Nonsense Post</h5>
                    <h6>Published At: 11:33 am</h6>
                    <h6>Contributed by: <a href="#">Ultra_Baskiteer</a></h6>
                    <p>Lorem ipsum dolor sit amet, facilisi dissentias instructior eos et, clita numquam ne sea. Ex qui
                        feugiat dignissim voluptaria,
                        in usu nullam tempor, ad ius harum moderatius. Omnium copiosae te eos, magna persius no sit,
                        utroque
                        repudiare est te. Vel odio
                        placerat at, ex magna iuvaret mea, in pri labores sapientem intellegat. Has nullam explicari
                        voluptaria ex, cu pri quas
                        qualisque cotidieque.
                        <br><br>
                        Duo dicant tincidunt ne. Pri populo admodum ad, diam omnium salutatus quo ex. Sea vidisse
                        minimum
                        consequat at, munere
                        inermis an eum. Mel eu magna verear, mea in dicit voluptatum.
                    </p>
                </div>
                <div class="p-2 manager-tools">
                    <button class="btn btn-primary mx-auto">Highlight</button>
                    <button class="btn btn-danger mx-auto">Edit</button>
                    <button class="btn btn-dark mx-auto">Remove</button>
                </div>
            </div>
            <!-- </div> -->
            <div class="col">
                    <div class="mt-3 p-3 newsbox">
                        <h5>Life Changing Inspirational Story</h5>
                        <h6>Published At: 3:15 pm</h6>
                        <h6>Contributed by: <a href="#">BASKit_BALLER</a></h6>
                        <p>Facilisi dissentias instructior eos et, clita numquam ne sea. Ex qui
                            feugiat dignissim voluptaria,
                            in usu nullam tempor, ad ius harum moderatius. Omnium copiosae te eos, magna persius no sit,
                            utroque
                            repudiare est te. Vel odio
                            placerat at, ex magna iuvaret mea, in pri labores sapientem intellegat. Has nullam explicari
                            voluptaria ex, cu pri quas
                            qualisque cotidieque.
                            
                        </p>
                    </div>
                    <div class="p-2 manager-tools">
                        <button class="btn btn-primary mx-auto">Highlight</button>
                        <button class="btn btn-danger mx-auto">Edit</button>
                        <button class="btn btn-dark mx-auto">Remove</button>
                    </div>
                </div>
        </div>
    </div>

    <!-- <br>
<br>
<p>manager-user-all-stories works!</p>
<p>text here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p> -->
</body>