<app-sidebar-manager></app-sidebar-manager>


<body>
    <div id="news-view" class="container">
        <div class="row justify-content-around">
            <div id="active" class="w-100">
                <h4><b>MANAGER - ALL USER NEWS</b></h4>
            </div>
            <div class="col">
                <div>
                    <h1></h1>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-sm tablebox">
                        <thead class="tableboxchild">
                            <tr>
                                <th>Title</th>
                                <th>Body</th>
                                <th>Image</th>
                                <th>Featured?</th>
                                <th>User</th>
                                <th>Manager Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let story of stories">
                                <td>{{story.headline}}</td>
                                <td>{{story.body}}</td>
                                <td>STORY IMAGE</td>
                                <td>{{story.featured}}</td>
                                <td>{{story.author.username}}</td>
                                <td>
                                    <form #f="ngForm" (ngSubmit)="onSubmitH(f)" novalidate>
                                        <button type="submit" name="changestory" ngModel value="{{story.id}} h"
                                            class="btn btn-primary mx-auto">Highlight</button>
                                    </form>
                                    <form #f="ngForm" (ngSubmit)="onSubmitR(f)" novalidate>
                                        <button type="submit" name="changestory" ngModel value="{{story.id}} r"
                                            class="btn btn-primary mx-auto">Remove</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>