<!-- <div id="sidebar" class="col-md-4">
    <ul class="list-unstyled components">
        <li>National</li>
        <li>International</li>
        <li>Top Stories</li>
        <li><a href="#">Recent</a></li>
    </ul>
</div> -->

<div class="wrapper">
    <!-- <div class="col-md-3"> -->
    <nav id="sidebar">
        <br><br><br>
        <ul class="list-unstyled components">
            <!-- <h4 id="sidebar-header">BASGit News Portal</h4> -->
            <li>
                <a routerLink="/topnews/topnews">Top Stories</a>
            </li>
            <!-- <li class="active">
                <a href="#">National</a>
            </li>
            <li>
                <a href="#">International</a>
            </li> -->

            <!-- <li>Category:</li> -->
            <!-- <ul class="list-unstyled">
                <li>
                    <a routerLink="/topnews/business">Business</a>
                </li>
                <li>
                    <a routerLink="/topnews/entertainment">Entertainment</a>
                </li>
                <li>
                    <a routerLink="/topnews/politics">Politics</a>
                </li>
                <li>
                    <a routerLink="/topnews/sports">Sports</a>
                </li>
                <li>
                    <a routerLink="/topnews/technology">Technology</a>
                </li>
            </ul> -->

            <li>
                    <a href="#categorySubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Category</a>
                    <ul class="collapse list-unstyled" id="categorySubmenu">    <!--collapse show list-unstyled to have open by default-->
                        <li>
                            <a routerLink="/topnews/business">Business</a>
                        </li>
                        <li>
                            <a routerLink="/topnews/entertainment">Entertainment</a>
                        </li>
                        <li>
                            <a routerLink="/topnews/politics">Politics</a>
                        </li>
                        <li>
                            <a routerLink="/topnews/sports">Sports</a>
                        </li>
                        <li>
                            <a routerLink="/topnews/technology">Technology</a>
                        </li>
                    </ul>
                </li>
            <li>
                <a href="#sourceSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Source</a>
                <ul class="collapse list-unstyled" id="sourceSubmenu">
                    <li>
                        <a routerLink="/topnews/fox">Fox News</a>
                    </li>
                    <li>
                        <a routerLink="/topnews/cnn">CNN</a>
                    </li>
                    <li>
                        <a routerLink="/topnews/nbc">NBC</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- </div> -->
</div>